@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200;300&display=swap');

{
    margin: 0;
    padding: 0;
    font-family: 'Glory', sans-serif;
}
header {
    position: fixed;
    background: #ecd7a8;
    padding: 20px;
    width: 100%;
    height: 30px;
    margin-top: -20px;
    margin-left: -10px;
    font-family: 'Glory', sans-serif;

}
.left h3{
    color: #5b3c1c;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    margin-left:10px;
}
.center h3 {
    color: #5b3c1c;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    margin-left: 365px;
}
.sair_icon{
    padding: 5px;
    background: #ecd7a8;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #5b3c1c;
    transition: 0.5s;
}
.sair_icon:hover{
    background: #ecd7a8 ;
    color: #ffff;
} 

.sair_btn{
    padding: 5px;
    background: #5b3c1c;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #ecd7a8;
    transition: 0.5s;
    font-family: 'Glory', sans-serif;

}
.sair_btn:hover{
    background: #ecd7a8 ;
    color: #5b3c1c;
}

.sidebar {
    position: fixed;
    width: 370px;
    height: 100%;
    margin-top: 50px;
    padding-top: 10px;
    left: 0;
    background: #ecd7a8;
    font-family: 'Glory', sans-serif;

}
.sidebar .image{
    width: 10px;
    height: 10%;

}

.sidebar a{
    color:#5b3c1c;
    display: block;
    width:100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    transition: 0.5s;
    
}
.sidebar a:hover{
    background: #5b3c1c;
    color: #ecd7a8;
    font-family: 'Glory', sans-serif;
}
.sidebar ion-icon{
    padding-right: 10px;

}
.content img{
    height: 100vh;
    width: 160vh;
    left: 370px;
    margin-top: 50px;
    position:fixed;

}